# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# I do not need yall seeing my IDE configuration
.idea

# don't upload the entire Minecraft instance(s)
run
