public void {{name}}(String message) {
    {{uppercase}}_1.log(message);
}

public void {{name}}(String format, Object... arguments) {
    {{uppercase}}_2.log(format, arguments);
}

public void {{name}}(String message, Throwable throwable) {
    {{uppercase}}_3.log(message, throwable);
}
