// This is a generated buildscript. You shouldn't edit it.
// If you want to edit the template, consult the /templates folder,
// as well as the generate_buildscripts.py script.

// template parameters: version={{version}}, java={{java}}

plugins {
    id("figurafsb.targets.common-version")
}

fsbOptions.configure {
    java{{java}}()
    minecraft {
        version = "{{version}}"
    }
}
